/* css styles */

h1, h2, h3, h4, h5, h6, p { font-family: "Hoefler Text"}

/* h1 {margin: 0; padding: 0; line-height: 0px} */
h2 {font-size: 15pt}
h3 {font-size: 14pt}
h4 {font-size: 13.5pt}
p {color: black}

#name {margin-bottom: -5em; margin-top: 0;}

/* #title h2 { margin: 0; padding: 0; color: grey} */
#title h2 { margin-top: 20px; margin-left: 5px; color: grey}
/* #title h2 { color: grey} */

#tagline {color: grey}

#labname {color: grey}

.navbar-brand {font-size: 15pt}

/* a { font-family: "PT Sans" } */

#footer, #copyright { 
    font-size: 9pt 
}

#footer {
    text-align: right
}

#primary-works-list p { 
  text-align: left;
  font-size: 11.5pt;
  
  /* Following two lines are for references with a hanging indent.
     See https://www.thesitewizard.com/css/hanging-indents.shtml. */
  padding-left: 22px ;
  text-indent: -22px ;
}
